/* chanleme_merchant_app/src/assets/main.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6; /* 浅灰色背景 */
  color: #333;
  line-height: 1.6;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

button {
  cursor: pointer;
}

/* 基本表单元素样式 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* 确保内边距和边框包含在宽度内 */
  font-size: 16px;
  margin-bottom: 10px;
}

/* 链接样式 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}